
.icon-music:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-videocam:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-star-filled:before { content: '\e805'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
